.footer {
  background-color: $colorBlack;
  width: 100%;
  color: $colorWhite;
  overflow: hidden;

  .footer__inner {
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

    @include responsive767 {
      padding: 32px 0 16px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .footer-left {
    width: 205px;

    .btn {
      @include responsive767 {
        margin: 16px auto 0;
        max-width: 140px;
        font-size: 12px;
        padding: 12px 16px;
      }
    }

    @include responsive767 {
      width: 100%;
    }
  }

  .logo {
    width: 133px;
    height: 20px;

    @include responsive767 {
      margin: 0 auto;
    }
  }

  .footer-center {
    display: flex;
    align-items: flex-start;
    gap: 100px;

    @include responsive1023 {
      gap: 50px;
    }

    @include responsive767 {
      gap: 48px;
      width: 100%;
      margin-top: 16px;
    }

    @include responsive389 {
      gap: 24px;
    }

    a {
      @include text-decoration-hover($colorWhite);
    }
  }

  .footer-col {
    @include responsive767 {
      width: 50%;
    }

    ul {
      margin-top: 39px;

      @include responsive1279 {
        margin-top: 32px;
      }

      @include responsive767 {
        margin-top: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 12px;
      }

      li {
        @include responsive767 {
          margin-bottom: 16px;
          width: 40%;
        }

        @include responsive479 {
          width: 50%;
        }

        @include responsive389 {
          width: 100%;
          text-align: center;
        }

        & + li {
          margin-top: 11px;

          @include responsive767 {
            margin-top: 0;
          }
        }
      }
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    gap: 3px;

    @include responsive1023 {
      width: 230px;
    }

    @include responsive767 {
      width: 100%;
      align-items: center;
      margin-top: 16px;
    }

    a:not(.btn, .footer-social a) {
      @include text-decoration-hover($colorWhite);
    }
  }

  .footer-social {
    margin-top: 32px;

    @include responsive767 {
      margin-top: 16px;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .footer-social-link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }

  .footer-social-link--vk {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.4938 6.92517C17.1719 6.51868 17.264 6.33784 17.4938 5.97448C17.4979 5.97034 20.1551 2.29866 20.4288 1.05347L20.4305 1.05264C20.5665 0.598868 20.4305 0.265381 19.7726 0.265381H17.5958C17.0417 0.265381 16.7862 0.551583 16.6493 0.871797C16.6493 0.871797 15.541 3.52476 13.9731 5.24446C13.4671 5.74138 13.2331 5.90065 12.9569 5.90065C12.8208 5.90065 12.6093 5.74138 12.6093 5.2876V1.05264C12.6093 0.508445 12.4542 0.265381 11.9954 0.265381H8.5726C8.22501 0.265381 8.01844 0.51923 8.01844 0.755657C8.01844 1.27165 8.80239 1.39028 8.88368 2.84203V5.99191C8.88368 6.68211 8.75842 6.80903 8.48051 6.80903C7.74054 6.80903 5.94452 4.14528 4.88018 1.09661C4.66532 0.505127 4.45544 0.26621 3.89714 0.26621H1.71951C1.09817 0.26621 0.9729 0.552412 0.9729 0.872626C0.9729 1.43839 1.71288 4.25147 4.41396 7.96794C6.21413 10.5048 8.74929 11.8794 11.0555 11.8794C12.4417 11.8794 12.6109 11.5741 12.6109 11.049C12.6109 8.62496 12.4857 8.396 13.18 8.396C13.5019 8.396 14.0561 8.55528 15.3502 9.7789C16.8293 11.2298 17.0724 11.8794 17.9003 11.8794H20.0771C20.6976 11.8794 21.012 11.5741 20.8312 10.9718C20.4172 9.70506 17.6199 7.09938 17.4938 6.92517Z' fill='white'/%3e%3c/svg%3e ");
  }

  .footer-social-link--dzen {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7292 21.9869C18.5878 19.6381 20.683 17.8883 23.0366 17.2048C25.9321 16.4002 28.9581 16.3609 31.9286 16.3018C31.9286 16.1302 31.9425 15.9614 31.9425 15.787C31.9425 15.6126 31.9425 15.4804 31.9286 15.3256C28.758 15.2131 25.493 15.2581 22.4531 14.2004C21.3514 13.8145 20.3484 13.1852 19.5169 12.358C18.6854 11.5308 18.0462 10.5266 17.6458 9.41825C16.5343 6.30983 16.5482 2.94823 16.4954 -0.323341C16.3343 -0.323341 16.1759 -0.337402 16.0147 -0.337402C15.8536 -0.337402 15.6841 -0.337406 15.5201 -0.323341C15.4034 2.65849 15.4423 5.6994 14.6309 8.59403C14.334 9.74009 13.7949 10.8072 13.0508 11.7218C12.3067 12.6363 11.3753 13.3764 10.3211 13.891C7.11163 15.2975 3.53261 15.1906 0.10642 15.3313C0.10642 15.486 0.0925293 15.6379 0.0925293 15.7926C0.0925293 15.9473 0.0925259 16.1414 0.10642 16.313C3.71879 16.4424 7.55623 16.2765 10.8435 18.0234C13.0943 19.188 14.4197 21.61 14.8921 24.0489C15.4229 26.6313 15.4479 29.2812 15.5118 31.9057C15.6813 31.9057 15.8508 31.9057 16.0231 31.9057C16.1953 31.9057 16.3426 31.9057 16.501 31.9057C16.576 28.5807 16.5316 25.1404 17.7292 21.9869Z' fill='white'/%3e%3c/svg%3e ");
  }

  .footer-social-link--tg {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.0617 1.48364C19.2034 0.567253 18.3322 -0.156061 17.5174 0.201688L1.28883 7.32685C0.704521 7.5834 0.747264 8.46853 1.35328 8.66149L4.69996 9.72728C5.33878 9.9307 6.03039 9.82546 6.5882 9.44012L14.1336 4.2272C14.3612 4.06997 14.6092 4.39353 14.4148 4.59388L8.98339 10.1936C8.45652 10.7369 8.56108 11.6574 9.19489 12.0548L15.2759 15.8681C15.9579 16.2958 16.8353 15.8662 16.9629 15.0419L19.0617 1.48364Z' fill='white'/%3e%3c/svg%3e ");
  }

  .footer-social-link--pin {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.46106 20.2145C4.96593 19.3803 5.71415 18.0115 5.99183 16.9187C6.14127 16.3307 6.75924 13.9319 6.75924 13.9319C7.16314 14.7126 8.33445 15.3738 9.58653 15.3738C13.3024 15.3738 15.9792 11.8885 15.9792 7.55869C15.9792 3.40702 12.6582 0.301758 8.38493 0.301758C3.06862 0.301758 0.245361 3.94155 0.245361 7.90474C0.245361 9.7473 1.20765 12.042 2.74651 12.7722C2.97976 12.8835 3.10396 12.834 3.15848 12.6043C3.19887 12.4303 3.40688 11.5744 3.50079 11.1799C3.51827 11.1174 3.51954 11.0513 3.5045 10.9882C3.48946 10.925 3.45861 10.8668 3.41496 10.8195C2.91009 10.1902 2.49811 9.03149 2.49811 7.95212C2.49811 5.18056 4.55496 2.49964 8.05979 2.49964C11.089 2.49964 13.2095 4.60277 13.2095 7.61121C13.2095 11.01 11.5263 13.3644 9.33712 13.3644C8.12543 13.3644 7.22271 12.3448 7.51352 11.0986C7.86087 9.60414 8.53337 7.99229 8.53337 6.91498C8.53337 5.94993 8.02849 5.14452 6.97533 5.14452C5.73839 5.14452 4.7458 6.44945 4.7458 8.19622C4.73787 8.83755 4.86349 9.4733 5.11436 10.0614C5.11436 10.0614 3.89358 15.3265 3.67042 16.307C3.42203 17.3925 3.51997 18.9209 3.62701 19.9117' fill='white'/%3e%3c/svg%3e ");
  }

  .btn {
    border-radius: 50px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 18px;
    padding: 16px;
    width: 100%;

    @include responsive767 {
      margin-top: 16px;
      max-width: 170px;
      font-size: 12px;
      padding: 16px 12px;
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 20px 0;

    @include responsive1279 {
      justify-content: flex-end;
    }

    @include responsive767 {
      flex-direction: column;
      gap: 8px;
      font-size: 12px;
      line-height: 14px;
      padding: 16px 0;
    }

    a:not(.develop-block__logo) {
      @include text-decoration-hover($colorWhite);
    }
  }
}

.develop-block {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $colorWhite;

  .develop-block__title {
  }

  .develop-block__logo {
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='45' height='14' viewBox='0 0 45 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.14062 0.0769043H0V13.6884H1.875V7.9387H7.26562L8.67188 6.53062V5.82658H1.875V2.07169H9.14062V0.0769043Z' fill='white' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5352 13.9231C16.1564 13.9231 18.2812 11.8742 18.2812 9.34679C18.2812 6.81939 16.1564 4.77052 13.5352 4.77052C10.914 4.77052 8.78906 6.81939 8.78906 9.34679C8.78906 11.8742 10.914 13.9231 13.5352 13.9231ZM13.5352 12.2803C15.1855 12.2803 16.5234 10.9669 16.5234 9.34679C16.5234 7.72665 15.1855 6.41328 13.5352 6.41328C11.8848 6.41328 10.5469 7.72665 10.5469 9.34679C10.5469 10.9669 11.8848 12.2803 13.5352 12.2803Z' fill='white' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.2539 13.9231C42.8751 13.9231 45 11.8742 45 9.34679C45 6.81939 42.8751 4.77052 40.2539 4.77052C37.6327 4.77052 35.5078 6.81939 35.5078 9.34679C35.5078 11.8742 37.6327 13.9231 40.2539 13.9231ZM40.2539 12.2803C41.9043 12.2803 43.2422 10.9669 43.2422 9.34679C43.2422 7.72665 41.9043 6.41328 40.2539 6.41328C38.6035 6.41328 37.2656 7.72665 37.2656 9.34679C37.2656 10.9669 38.6035 12.2803 40.2539 12.2803Z' fill='white' /%3e%3cpath d='M21.5625 5.0052H19.6875V12.3976L20.9766 13.6884H27.4219V5.0052H25.3125V11.8109H21.5625V5.0052Z' fill='white' /%3e%3cpath d='M31.4062 5.0052H29.4141V13.6884H31.4062V8.17338L34.1016 6.64796H35.5078V5.0052H33.3984L31.4062 6.1786V5.0052Z' fill='white' /%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 14px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }
}

.footer-market {

  .footer-left{
    width: 434px;

    @include responsive767{
      width: 100%;
    }

    .text{
      font-size: 16px;
      line-height: 20px;
      margin-top: 16px;
      font-weight: 400;
    }
  }

  .footer-col{
    & > a{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  .footer-right{
    text-align: right;
    align-items: flex-end;

    @include responsive767{
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .phone{
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      
      @include responsive767{
        font-size: 18px;
      }
    }
  }

  .footer-bottom {
    justify-content: space-between;
    position: relative;

    @include before{
      width: 300%;
      left:-100%;
      border-top: solid 1px $colorWhite;
      top:0;
    }
  }
}
