$fontMain: "TT Norms";
$fontLiteral: "Literal";

$colorWhite: rgba(255, 255, 255, 1);
// $colorWhite-a9: rgba(255, 255, 255, 0.9);
// $colorWhite-a8: rgba(255, 255, 255, 0.8);
// $colorWhite-a7: rgba(255, 255, 255, 0.7);
// $colorWhite-a6: rgba(255, 255, 255, 0.6);
$colorWhite-a5: rgba(255, 255, 255, 0.5);
// $colorWhite-a4: rgba(255, 255, 255, 0.4);
// $colorWhite-a3: rgba(255, 255, 255, 0.3);
// $colorWhite-a2: rgba(255, 255, 255, 0.2);

$colorBlack: rgba(34, 34, 34, 1);
$colorBlack-a3: rgba(57, 57, 57, 0.3);
// $colorBlack-a9: rgba(57, 57, 57, 0.9);
// $colorBlack-a8: rgba(57, 57, 57, 0.8);
// $colorBlack-a7: rgba(57, 57, 57, 0.7);
// $colorBlack-a6: rgba(57, 57, 57, 0.6);
// $colorBlack-a5: rgba(57, 57, 57, 0.5);
// $colorBlack-a4: rgba(57, 57, 57, 0.4);
// $colorBlack-a2: rgba(57, 57, 57, 0.2);

$responsive1599: "1599px";
$responsive1439: "1439px";
$responsive1279: "1279px";
$responsive1023: "1023px";
$responsive767: "767px";
$responsive639: "639px";
$responsive479: "479px";
$responsive389: "389px";

$colorGray: rgba(246, 246, 244, 1);
$colorYellow: rgba(244, 192, 0, 1);

// @media responsive

@mixin responsiveMinWidth768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin responsive1599 {
  @media (max-width: $responsive1599) {
    @content;
  }
}

@mixin responsive1439 {
  @media (max-width: $responsive1439) {
    @content;
  }
}

@mixin responsive1279 {
  @media (max-width: $responsive1279) {
    @content;
  }
}

@mixin responsive1023 {
  @media (max-width: $responsive1023) {
    @content;
  }
}

@mixin responsive767 {
  @media (max-width: $responsive767) {
    @content;
  }
}

@mixin responsive639 {
  @media (max-width: $responsive639) {
    @content;
  }
}

@mixin responsive479 {
  @media (max-width: $responsive479) {
    @content;
  }
}

@mixin responsive389 {
  @media (max-width: $responsive389) {
    @content;
  }
}
